[submodule "sw/3rdparty/BSlogger"]
	path = sw/3rdparty/BSlogger
	url = git@github.com:charliedunne/BSlogger.git
[submodule "sw/3rdparty/SDL"]
	path = sw/3rdparty/SDL
	url = git@github.com:libsdl-org/SDL.git
	branch = SDL2
[submodule "sw/3rdparty/simple-cpp-logger"]
	path = sw/3rdparty/simple-cpp-logger
	url = git@github.com:nadrino/simple-cpp-logger.git
[submodule "sw/3rdparty/SDL_image"]
	path = sw/3rdparty/SDL_image
	url = git@github.com:libsdl-org/SDL_image.git
	branch = SDL2
[submodule "sw/3rdparty/pigpio"]
	path = sw/3rdparty/pigpio
	url = git@github.com:joan2937/pigpio.git
